jobs:
  build:
    machine:
      image: ubuntu-2004:202010-01 # recommended linux image
    resource_class: large
    steps:
      - checkout
      - run:
          name: "Build"
          command: curl https://raw.githubusercontent.com/nhAsif/build-scripts/kernel/.build.sh | bash
